<section class="contact" id="contacts">
  <div class="contact-text">
    <h2>Contact <span>Me</span></h2>
    <h2>Bla bla bla</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
    <div class="contact-list">
      <li><i class='bx bxs-send'></i> contact@gmail.com</li>
      <li><i class='bx bxs-phone-call'></i> 0957777777</li>
    </div>
    <div class="contact-icons">
      <a href=""><i class='bx bxl-facebook-circle'></i></a>
      <a href=""><i class='bx bxl-instagram-alt'></i></a>
      <a href=""><i class='bx bxl-telegram'></i></a>
      <a href=""><i class='bx bxl-whatsapp'></i></a>
    </div>
  </div>
  <div class="contact-form">
    <form action="">
      <input placeholder="Enter your name" required type="">
      <input placeholder="Enter your Email" required type="email">
      <input placeholder="Enter Your Subject" type="">
      <textarea cols="40" id="" name="" placeholder="Enter Your Message" required rows="10"></textarea>
      <input class="send" type="submit" value="submit">
    </form>
  </div>
</section>

<a class="top" href="#"><i class='bx bx-up-arrow-alt'></i></a>

