<section id="projects">
  <div class="projects-title">
    <h2 class="sub-title">My<span>Projects</span></h2>
  </div>
  <!--  <div class="wrapper">-->
  <div class="projects">
    <div class="main-text" id="project">
      <div class="project-content">
        <div [routerLink]="['/watches']" class="row">
          <img alt="watches" src="../../../../../assets/images/watches.jpg">
          <div class="layer">
            <h5>WATCHES</h5>
            <p>Analog and Digital WATCHES</p>
            <a href="#"><i class="bx bx-link-external" style="color: #000"></i> </a>
          </div>
        </div>

        <div [routerLink]="['/calculator']" class="row">
          <img alt="" src="../../../../../assets/images/calculator.jpg">
          <div class="layer">
            <h5>CALCULATOR</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#"><i class="bx bx-link-external" style="color: #000"></i> </a>
          </div>
        </div>
        <div class="row">
          <img alt="" src="../../../../../assets/images/todo.jpg">
          <div class="layer">
            <h5>TODO LIST</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#"><i class="bx bx-link-external" style="color: #000"></i> </a>
          </div>
        </div>
        <div [routerLink]="['/movies']" class="row">
          <img alt="" src="../../../../../assets/images/films.jpg">
          <div class="layer">
            <h5>MOVIE SITE</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#"><i class="bx bx-link-external" style="color: #000"></i> </a>
          </div>
        </div>
        <div [routerLink]="['/snake']" class="row">
          <img alt="" src="../../../../../assets/images/snake.jpg">
          <div class="layer">
            <h5>SNAKE GAME</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#"><i class="bx bx-link-external" style="color: #000"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div>-->
</section>
