<div class="about-container" id="about">
  <section class="about">
    <div class="about-img">
      <img alt="photo" src="assets/images/about.jpg">
    </div>
    <div class="about-text">
      <h2>About <span>Me</span></h2>
      <h4>Frontend Developer</h4>
      <p>Hello! My name is Stanislav Dolyk. I am a master's student at the Faculty of Information Technology,
        specializing in Software Engineering, at Uzhhorod National University.<br>
        "I live in Ukraine, in the city of Uzhhorod. At the beginning of 2023, I started studying IT courses, I was
        interested in this field and I plan to actively develop and achieve success
        in it. I have many hobbies and interests. I worked in the banking sector in my city. I am interested in new
        modern technologies, cars, sports, especially football, and computer games. In general, I am very communicative,
        responsible, enjoy working in a team, constantly strive for self-improvement, and aim to achieve new heights. I
        think such an employee will definitely not be superfluous in your team. </p>

    </div>
  </section>
</div>
