<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, It's me</h3>
    <h1>Dolyk Stanislav</h1>
    <h3>And I'm a <span class="text"></span></h3>
    <p>I'm a web Designer
      <br> laalalalalalalalalalalala</p>
    <div class="home-sci">
      <a href="#" style="--i:5"><i class='bx bxl-facebook'></i></a>
      <a href="#" style="--i:6"><i class='bx bxl-instagram-alt'></i></a>
      <a href="#" style="--i:7"><i class='bx bxl-telegram'></i></a>
      <a href="#" style="--i:8"><i class='bx bxl-whatsapp'></i></a>
    </div>
    <a class="btn-box" href="#">More About Me</a>
  </div>
  <span class="home-imgHover">
    <img src="assets/images/avatarRotate.jpg">
  </span>
</section>
