<section>
  <div class="projects-title">
    <h2 class="sub-title">My<span>Project</span></h2>
  </div>
  <div class="wrapper">
    <div class="projects" id="projects">
      <div class="main-text" id="project">
        <h2>Latest<span>Projects</span></h2>
        <div class="project-content">
          <div class="row">
            <img alt="" src="assets/images/calculator.jpg">
            <div class="layer">
              <h5>Blablabla</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <a href="#"><i class="bx bx-link-external" style="color: aliceblue"></i> </a>
            </div>
          </div>
          <div class="row">
            <img alt="" src="assets/images/todo.jpg">
            <div class="layer">
              <h5>Blablabla</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <a href="#"><i class="bx bx-link-external" style="color: aliceblue"></i> </a>
            </div>
          </div>
          <div class="row">
            <img alt="" src="assets/images/films.jpg">
            <div class="layer">
              <h5>Blablabla</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <a href="#"><i class="bx bx-link-external" style="color: aliceblue"></i> </a>
            </div>
          </div>
          <div class="row">
            <img alt="" src="assets/images/snake.jpg">
            <div class="layer">
              <h5>Blablabla</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
              </p>
              <a href="#"><i class="bx bx-link-external" style="color: aliceblue"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
