.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 2%;
  background: #001921;
}


.top {
  /*position: fixed;*/
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #000;
  background: #0ef;
  font-size: 40px;
  border-radius: 0.5rem;
}

.top i:hover {
  filter: brightness(200%);
}
