.pagination-place {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.num {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 4%;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.num:hover {
  color: rgba(200, 12, 12, 0.482)
}
