* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  color: #ededed;
  background: #543b71;;
}


.sub-title {
  font-size: 60px;
}

.sub-title span {
  color: #00eeff;
}
