<section class="skills" id="skills">
  <div class="skills-title">
    <h2 class="sub-title">My<span>Skills</span></h2>
  </div>
  <div class="wrapper">
    <div class="skills-container">

      <br>
      <h1 class="heading">Technical Skills</h1>
      <div class="technical-bars">
        <div class="bar"><i><img alt="ts" src="/assets/images/html5.png"
                                 style="width: 20px"></i>
          <div class="info">
            <span>HTML</span>
          </div>
          <div class="progress-line html">
            <span></span>
          </div>
        </div>
        <div class="bar"><i><img alt="ts" src="/assets/images/css3.png"
                                 style="width: 20px"></i>
          
          <i><img alt="ts" src="/assets/images/scss.png"
                  style="width: 20px"></i>
          <div class="info">
            <span>CSS / SCSS</span>
          </div>
          <div class="progress-line css">
            <span></span>
          </div>
        </div>
        <div class="bar"><i><img alt="ts" src="/assets/images/js.png"
                                 style="width: 20px"></i>
          <div class="info">
            <span>Javascript</span>
          </div>
          <div class="progress-line javascript">
            <span></span>
          </div>
        </div>
        <div class="bar"><i style="color: #b0bc1e"><img alt="ts" src="/assets/images/typescript.png"
                                                        style="width: 20px"></i>
          <div class="info">
            <span>TypeScript</span>
          </div>
          <div class="progress-line typescript">
            <span></span>
          </div>
        </div>
        <div class="bar"><i><img alt="ts" src="/assets/images/angular.png"
                                 style="width: 20px"></i>
          <div class="info">
            <span>Angular</span>
          </div>
          <div class="progress-line angular">
            <span></span>
          </div>
        </div>
        <div class="bar"><i><img alt="ts" src="/assets/images/git.png"
                                 style="width: 20px"></i>
          <div class="info">
            <span>GIT</span>
          </div>
          <div class="progress-line git">
            <span></span>
          </div>
        </div>
        <div class="bar"><i style="color: #b0bc1e"><img alt="wb" src="/assets/images/webstorm.png"
                                                        style="width: 23px"></i>
          <div class="info">
            <span>WEBSTORM</span>
          </div>
          <div class="progress-line webstorm">
            <span></span>
          </div>
        </div>

      </div>
    </div>

    <div class="skills-container">
      <h1 class="heading">Professional Skills</h1>
      <div class="radial-bars">
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">80%</div>
          <div class="text">Creativity</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-2" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Communication</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-3" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">75%</div>
          <div class="text">Problem Solving</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-4" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">85%</div>
          <div class="text">TeamWork</div>
        </div>
      </div>
    </div>
  </div>
</section>
