.contact {
  padding-left: 30px;
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
  margin-bottom: 150px;
}

.contact h2 span {
  color: #00eeff;
}

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card {
  background: #001921c2;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  cursor: pointer;
  border-radius: 30px;
}

.card a {
  text-decoration: none;
  color: #00eeff;
}

.card-icon {
  font-size: 28px;
  background: #00eeff;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: #00eeff;
  transform: scale(1.6);
}

.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
  color: #0ef;
}

button {
  padding: 8px 18px;
  border-radius: 10px;
  border: 0;
  background-color: #0ef;
  letter-spacing: 2px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: #1e8f96 0 10px 0 0;
  color: #000;
  font-weight: bold;
}

button:hover {
  box-shadow: #0ef 0 7px 0 0;
}

button:active {
  background-color: #0ef;
  box-shadow: #1e8f96 0 0 0 0;
  transform: translateY(5px);
  transition: 200ms;
}


@media screen and (max-width: 850px) {
  .contact-info {
    flex-direction: column;
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
