<section class="contact" id="contacts">
  <h2>Contact <span>Me</span></h2>
  <div class="contact-info">
    <div class="card">
      <i class="card-icon fa-solid fa-user"></i>
      <p>Dolyk Stanislav</p>
    </div>
    <div class="card">
      <i class="card-icon far fa-envelope"></i>
      <p><a href="https://mail.google.com/mail/?view=cm&fs=1&to=tafoner2014@gmail.com&su=Job_Offer">
        <button>WRITE TO ME</button>
      </a>
      </p>
    </div>
    <div class="card">
      <i class="card-icon fa-brands fa-whatsapp"></i>
      <p><a href="https://api.whatsapp.com/send?phone=380954106540">
        <button> CALL ME</button>
      </a>
      </p>
    </div>
    <div class="card">
      <i class='card-icon bx bxl-facebook'></i>
      <p><a href="https://www.facebook.com/stas.dolyk">Facebook</a></p>
    </div>
    <div class="card">
      <i class='card-icon bx bxl-telegram'></i>
      <p><a href="https://t.me/tafoner">@Tafoner</a></p>
    </div>
    <div class="card">
      <i class="card-icon fas fa-map-marker-alt"></i>
      <p><a href="https://maps.app.goo.gl/YC4chhAMJPPxbzNLA">Uzhhorod, Ukraine</a></p>
    </div>
  </div>
</section>

